<section class="no-padding wow fadeIn">
  <div class="container-fluid no-padding">
    <div class="row no-margin">
      <div class="filter-content overflow-hidden">
        <ul class="portfolio-grid work-4col hover-option2">
          <li class="grid-sizer"></li>
          <!-- start portfolio item -->
          <li class="grid-item wow fadeInUp">
            <a href="single-project-page-01.html">
              <figure>
                <div class="portfolio-img bg-deep-pink"><img src="<%= image_path('sample/cat7.jpeg')%>" alt=""/></div>
                <figcaption>
                  <div class="portfolio-hover-main text-left">
                    <div class="portfolio-hover-box vertical-align-bottom">
                      <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                        <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Herbal Beauty Salon</span>
                        <p class="text-white text-uppercase text-extra-small">Branding and Brochure</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <li class="grid-item wow fadeInUp"  data-wow-delay="0.2s">
            <a href="single-project-page-02.html">
              <figure>
                <div class="portfolio-img bg-deep-pink"><img src="<%= image_path('sample/cat8.jpeg')%>" alt=""/></div>
                <figcaption>
                  <div class="portfolio-hover-main text-left">
                    <div class="portfolio-hover-box vertical-align-bottom">
                      <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                        <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Tailoring Interior</span>
                        <p class="text-white text-uppercase text-extra-small">Web and Photography</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <li class="grid-item wow fadeInUp"  data-wow-delay="0.4s">
            <a href="single-project-page-03.html">
              <figure>
                <div class="portfolio-img bg-deep-pink"><img src="<%= image_path('sample/cat9.jpeg')%>" alt=""/></div>
                <figcaption>
                  <div class="portfolio-hover-main text-left">
                    <div class="portfolio-hover-box vertical-align-bottom">
                      <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                        <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Pixflow Studio</span>
                        <p class="text-white text-uppercase text-extra-small">Branding and Brochure</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
            <a href="single-project-page-04.html">
              <figure>
                <div class="portfolio-img bg-deep-pink"><img src="<%= image_path('sample/cat4.jpeg')%>" alt=""/></div>
                <figcaption>
                  <div class="portfolio-hover-main text-left">
                    <div class="portfolio-hover-box vertical-align-bottom">
                      <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                          <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">뜌뜌</span>
                          <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                          <p class="text-white text-uppercase text-extra-small">❤️😆</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <li class="grid-item wow fadeInUp">
            <a href="single-project-page-05.html">
              <figure>
                <div class="portfolio-img bg-deep-pink"><img src="<%= image_path('sample/cat5.jpeg')%>" alt=""/></div>
                <figcaption>
                  <div class="portfolio-hover-main text-left">
                    <div class="portfolio-hover-box vertical-align-bottom">
                      <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                        <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Third Eye Glasses</span>
                        <p class="text-white text-uppercase text-extra-small">Logo and Identity</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
            <a href="single-project-page-06.html">
              <figure>
                <div class="portfolio-img bg-deep-pink"><img src="<%= image_path('sample/cat6.jpeg')%>"alt=""/></div>
                <figcaption>
                  <div class="portfolio-hover-main text-left">
                    <div class="portfolio-hover-box vertical-align-bottom">
                      <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                        <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Rubber Studio</span>
                        <p class="text-white text-uppercase text-extra-small">Branding and Brochure</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
            <a href="single-project-page-07.html">
              <figure>
                <div class="portfolio-img bg-deep-pink"><img src="<%= image_path('sample/cat2.jpeg')%>" alt=""/></div>
                <figcaption>
                  <div class="portfolio-hover-main text-left">
                    <div class="portfolio-hover-box vertical-align-bottom">
                      <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                        <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">RedDot Media</span>
                        <p class="text-white text-uppercase text-extra-small">Branding and Identity</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <li class="grid-item wow fadeInUp">
            <a href="single-project-page-08.html">
              <figure>
                <div class="portfolio-img bg-deep-pink"><img src="<%= image_path('sample/cat3.jpeg')%>" alt=""/></div>
                <figcaption>
                  <div class="portfolio-hover-main text-left">
                    <div class="portfolio-hover-box vertical-align-bottom">
                      <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                        <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Black and White</span>
                        <p class="text-white text-uppercase text-extra-small">Branding and Brochure</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <li class="grid-item wow fadeInUp" data-wow-delay="0.2s">
            <a href="single-project-page-01.html">
              <figure>
                <div class="portfolio-img bg-deep-pink"><img src="<%= image_path('sample/cat7.jpeg')%>" alt=""/></div>
                <figcaption>
                  <div class="portfolio-hover-main text-left">
                    <div class="portfolio-hover-box vertical-align-bottom">
                      <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                        <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Banana Design</span>
                        <p class="text-white text-uppercase text-extra-small">Logo and Identity</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
            <a href="single-project-page-02.html">
              <figure>
                <div class="portfolio-img bg-deep-pink"><img src="<%= image_path('sample/cat8.jpeg')%>" alt=""/></div>
                <figcaption>
                  <div class="portfolio-hover-main text-left">
                    <div class="portfolio-hover-box vertical-align-bottom">
                      <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                          <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                          <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Design Blast</span>
                          <p class="text-white text-uppercase text-extra-small">Web and Photography</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
          <!-- end portfolio item -->
          <!-- start portfolio item -->
          <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
            <a href="single-project-page-03.html">
              <figure>
                <div class="portfolio-img bg-deep-pink"><img src="<%= image_path('sample/cat9.jpeg')%>" alt=""/></div>
                <figcaption>
                  <div class="portfolio-hover-main text-left">
                    <div class="portfolio-hover-box vertical-align-bottom">
                      <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                        <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Kaya Skin Care</span>
                        <p class="text-white text-uppercase text-extra-small">Logo and Identity</p>
                      </div>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>