<!DOCTYPE html>
<html>
<head>
  <title>Petrography</title>
  <%= favicon_link_tag image_path('icon.png') %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>나만 고양이 없어..</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
  <meta name="author" content="prography">
  <meta name="keywords" content="cat, pet, dog, animal cute, lovely">

</head>
<body>
<%= render '/layouts/header' %>
<%= yield %>
<%= render '/layouts/footer'%>

</body>
</html>
